<header>
    
    

  <!-- Intro Section -->
    <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://www.chowstatic.com/assets/2015/02/10223_cuba_libre_3000.jpg);">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="d-flex align-items-center content-height">
                    <div class="row flex-center pt-5 mt-3">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <div class="white-text text-center">
                                <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Baza wiedzy konserwantów</h1>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Czy wiesz co znajduje się w napojach które pijasz codziennie ? Czy wiesz jakie choroby i dolegliwości mogą powodować związki w nich zawarte ? Tutaj dowiesz się wszystkiego o konserwantach i związkach chemicznych dodawanych do żywności oraz o dolegliwościach jakie mogą powodować a także jakich produktów lepiej unikać.</h6>
                                <br>
                                <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Zaczynajmy</a>
                                <br>
                                <h2><i class="fa fa-chevron-down" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yHn4koKiFpY" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<!--Main Layout-->
<main>
    <div class="row">
        <div class="col-md-12 black-text">
            <h1 class="main_padding h1-responsive font-bold text-center">Dodatki do żywności</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 black-text">
            <h5 class="main_padding font-bold text-center">Numer E – kod chemicznego dodatku do żywności uznanego przez wyspecjalizowane instytucje Unii Europejskiej za bezpieczny i dozwolony do użycia. Nazwa pochodzi od kontynentu (Europy).</h5>
            <br>
            <h5 class="main_padding font-bold text-center">Wykaz tych numerów (zwany listą E) jest sporządzany przez Europejski Urząd ds. Bezpieczeństwa Żywności (wcześniej przez Komitet Naukowy ds. Żywności, Scientific Committee on Food) i następnie dołączany do odpowiedniej dyrektywy Komisji Europejskiej, która podlega zaaprobowaniu przez Parlament Europejski.</h5>
        </div>
        <div class="col-md-6 black-text">
            <br>
            <br>
            <br>
            <img [src]="eList" class="main_padding text-center img-fluid" alt="Lista E">
        </div>
    </div>    
</main>
<!--Main Layout-->

<!-- Animations init-->
<script>
  new WOW().init();
</script>
