<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color fixed-bottom">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="">Strona główna</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-deep-orange waves-light" routerLink="/search/product" mdbRippleRadius>Szukaj produktu</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary waves-light" routerLink="/search/preservative" mdbRippleRadius>Szukaj konserwantu</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-success waves-light" routerLink="/search/disease" mdbRippleRadius>Szukaj choroby</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-default waves-light" routerLink="/panel/administrator"  mdbRippleRadius>Panel administracyjny</button>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

       
           
        
    
    
</mdb-navbar>
    <!--/.Navbar-->
                
        