<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg fixed-bottom">
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-amber " >Strona główna</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-amber">Wyszukiwarka produktów</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-amber">Wyszukiwarka konserwantów</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-amber">Wyszukiwarka chorób</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-amber">Dodaj produkt</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-amber">Dodaj konserwant</button>
                </li>
            </ul>
        </links>   
</mdb-navbar>
    <!--/.Navbar-->
                