
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Wyszukiwarka chorób i dolegliwości</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-center paddingLeft">
          <div class="md-form">
              <input [(ngModel)]="inputValue" #ctrl="ngModel" mdbActive type="text" id="form41" class="form-control" (keyup)="hints(searchInput.value)" #searchInput required>
              <label for="form41" class="">Wprowadź chorobę lub dolegliwość którą chcesz znaleźć np. Nudności</label>
          </div>
      </div>
      <div class="col-md-6 text-center">
          <button type="button" (click)="preservativeSearch()" class="btn btn-success waves-light" mdbRippleRadius>Szukaj</button>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 text-center paddingTop" >
          <h2>Choroby i dolegliwości pasujące do podanej frazy</h2>      
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 text-center" >
          <button *ngFor="let preservativesHint of hintsPreservativesTab" type="button" class="btn btn-success waves-light btn-sm" mdbRippleRadius (click)="hintCompleter(preservativesHint)" >{{preservativesHint}}</button>  
      </div>
  </div>

<div *ngIf="disease.diseaseName != checker">  
  <div class="row">
      <div class="col-md-12 text-center paddingTop" >
          <h2>Wynik wyszukiwania</h2>
      </div>
  </div>
  
  <div class="row text-center">
      <div class="col-md-4 text-center searchTop">
          <div class="col-md-12 ">
              <h4>Nazwa choroby lub dolegliwości</h4>
          </div>
          <div class="col-md-12 paddingTop">
              <div *ngIf="disease.diseaseName != checker">
                  <button type="button" class="btn btn-success waves-light" mdbRippleRadius>{{disease.diseaseName}}</button>
              </div>
          </div>
      </div> 
      <div class="col-md-8 text-center searchTop">
        <div class="col-md-12 ">
            <h4>Dodatki do żywności mogące wywołać daną chorobę lub dolegliwość</h4>
        </div>
        <div class="col-md-12 paddingTop">
            <button *ngFor="let preservative of disease.diseasePreservatives" type="button" (click)="preservativesDetails(preservative.NazwaZwyczajowa, preservative.Opis)" class="btn btn-success waves-light btn-sm" mdbRippleRadius>{{preservative.Oznaczenie}}</button>
        </div>
      </div>   
  </div>
</div>  
  
  <button id="openModalButton" [hidden]="true" type="button" class="btn btn-primary waves-light" data-target="#centralModalSucces" (click)="style.show()" mdbRippleRadius></button>
  
  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-success" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <p class="heading lead">Nie znaleziono choroby lub dolegliwości</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                      <span aria-hidden="true" class="white-text">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                      <p>Nie udało nam się znaleźć żadnej choroby lub dolegliwości pasującej do szukanej frazy, być może nie ma go jeszcze w naszej bazie lub jego pisownia jest 
                          niepoprawna. Sprawdź sugestie dotyczące szukanej frazy oraz pisownię a następnie spróbuj ponowie.
                      </p>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-success waves-light" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Zamknij</a>
              </div>
          </div>
      </div>
  </div>

  <button id="preservativeDetailsButton" type="button" [hidden]="true" class="btn btn-primary waves-light" data-toggle="modal" data-target="#detailsModal" (click)="detailsModal.show()" mdbRippleRadius></button>

    <div mdbModal #detailsModal="mdb-modal" class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">{{preservativeDetailsCommonName}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="detailsModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{preservativeDetailsDescription}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-light" data-dismiss="modal" (click)="detailsModal.hide()" mdbRippleRadius>Zamknij</button>
                </div>
            </div>
        </div>
    </div>
  
  
           
