.card{
    height: 20rem;
    width: 20rem;
    
}

h2 {
    padding-top: 2%;
    padding-bottom: 5%;
    font-weight: bold;
}

.padding{
    padding-bottom: 3%;
}

.imgSize{
    max-width: 100%; 
    height: auto;
}

.paddingTop{
    padding-top: 3%;
}



.paddingLeft{
    padding-left: 5%;
}

input[type=text]:focus:not([readonly]) + label {
    color: #00C851; 
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851; 
}

.searchPadding{
    padding-top: 7%;
}

h4{
    font-weight: bold;
}